%h2
  Response from performance services

- if @responses.empty?
  = 'No responses'
- else
  %table
    %thead
      %tr
        %th
          Endpoint
        %th
          Channel/stage
        %th
          Response
        %th
          Link
    %tbody
    - @responses.each do |response|
      - endpoint = response.request.args[:url].split('/').last rescue 'Endpoint not found'
      %tr
        %td
          = endpoint
        %td
          = JSON.parse(response.request.args[:payload])['channel'] || JSON.parse(response.request.args[:payload])['stage']
        %td
          - status = JSON.parse(response)['status'] || 'error'
          - if status == 'error'
            error(s):
            = JSON.parse(response)['message']
            = JSON.parse(response)['messages']
          - else
            = status
        %td
          %a{ href: [performance_service_url,endpoint].join('/'), target: '_blank'}
            view results
